/** @format */

* {
  box-sizing: border-box;
}

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline: none;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  color: #fff;
  background-color: coral;
}

.subtext {
  display: block;
  margin-block: 1.5rem;
  font-size: 0.8rem;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: lightgreen;
  color: #333;
  text-align: center;
  margin: 0.5rem 0;
}

.profile {
  width: 30rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #fff;
}

.container {
  display: grid;
  place-items: center;
  height: 90vh;
}
